.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.espacio{
	padding: 4px;
}

.container{
	max-width: 80%;
    padding: 40px 40px;
}